---
export async function getStaticPaths() {
    const url = "https://qkisybglwngibxovgjqw.supabase.co/rest/v1/speakers";
    const options = {
    method: "GET",
    headers: {
        apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFraXN5Ymdsd25naWJ4b3ZnanF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYzMzM3OTksImV4cCI6MjAxMTkwOTc5OX0.4j0AnUSaBAywEKXEPZOKA3ajRa5VVbC8gbCnAXTdT50"
    },
}
  const data = await fetch(url, options).then(response => response.json());

  return data.map((speaker) => {
    return {
      params: { sidenavn: speaker.slug },
      props: { speaker },
    };
  });
}

const { speaker } = Astro.props;
---
<img src={"imgs/speakers/" + data.img} alt="">
<h1>{speaker.name}</h1>