:root {
}
main {
}
body {
  background: radial-gradient(circle, transparent 25%, #06053c 26%), linear-gradient(45deg, transparent 46%, #131243 47%, #131243 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #131243 47%, #131243 52%, transparent 53%);
  background-size: 3em 3em;
  background-color: #06053c;
  opacity: 1;
}
