:root {
  /* Farver */
  --text-color-overskrift: #ff8126;
  --text-color-white: #fff;
  --text-color-button: #06214d;
  --text-color-other: #00c2cb;
  --button-color: #66d6b8;
  --hover-color: #f8ef21;
  --trans-color: rgba(70, 69, 97, 0.65);

  /* Typografi */
  --font-size-h1: 8.5rem;
  --font-size-h2: 6.625rem;

  --font-size-h1-mobile: 4.5rem;
  --font-size-h2-mobile: 4.5rem;

  --font-size-xxl: 3.5rem; /* size 56 */
  --font-size-xl: 2.5rem; /* size 40 */
  --font-size-l: 2rem; /* size 32 */
  --font-size-m: 1.5rem; /* size 24 */
  --font-size-s: 1.25rem; /* size 20 */
  --font-size-xs: 1rem; /* size 16 */
  --font-size-xxs: 0.5rem; /* size 8 */

  --font-weight-bold: 700;
  --font-weight-semibold: 600;

  --font-family-header: oxanium;
  --font-family-text: inter;
  --font-family-link: open sans;
  --font-family-earlybird: kalam;

  /* Spacing */
  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;

  --space-button: 0.5rem 2.5rem;

  /* Border radius */
  --border-radius-textbox: 4rem;
  --border-radius-button: 1rem;
  --border-radius-image: 5rem;
  --border-radius-round: 50%;

  /* Box shadow */
  --text-shadow: -5px 5px 0px #531a6f;
  --img-shadow-down: -10px 10px 0px 0px #531a6f;
  --img-shadow-up: 10px -10px 0px 0px #531a6f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: radial-gradient(circle, transparent 25%, #06053c 26%), linear-gradient(45deg, transparent 46%, #131243 47%, #131243 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #131243 47%, #131243 52%, transparent 53%);
  background-size: 3em 3em;
  background-color: #06053c;
  opacity: 1;
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  max-width: 1200px;
  height: 100%;
}
.round-image-container {
  width: 300px; /* Adjust this value to your desired size */
  height: 300px; /* Adjust this value to your desired size */
  border-radius: var(--border-radius-round);
  overflow: hidden; /* Clip the image to the container */
  display: inline-block; /* Keep the containers inline */
  margin: 10px; /* Adjust the margin as needed */
}

.round-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
button {
  font-family: var(--font-family-text);
  font-size: var(--font-size-s);
  padding: var(--space-button);
  background-color: var(--button-color);
  border-radius: var(--border-radius-button);
  border: none;
  color: var(--text-color-button);
  margin: 2rem;
}
