---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
    <section>
        <article>
        <h5>20-21 MARCH 2024</h5>
        <h5>BIG BIO - NORDHAVN</h5>
        </article>
      <article>
        <h1>DE-GRWTH & CONSU-MERISME</h1>
        </article>
    </section>

<section class="box">
    <h5>Learn from the best</h5>
    <p>In a time where the global warming and climate change is more important than ever, we want to put focus on how the interplay between UX, design and consumerism plays a part in this. 

</p>
</section>
    <article>
        <h3>Welcome our speakers</h3>

        <section>
            <img src="" alt="">
            <h6>Navn</h6>
        </section>

        <section>
            <img src="" alt="">
            <h6>Navn</h6>
        </section>

        <section>
            <img src="" alt="">
            <h6>Navn</h6>
        </section>

        <button>See all</button>
    </article>

    <article>
        <section>
            <img src="" alt="">
            <h4>Connect with peers</h4>
            <p>lorem...</p>
        </section>

        <section>
            <img src="" alt="">
            <h4>Connect with peers</h4>
            <p>lorem...</p>
        </section>
    </article>
	
    <article>
        <h3>Get your ticket</h3>
        <p>Join us and experience the chance to learn from a diverse range of industry experts and connect with peers!</p>
    <button>Buy now</button>
    </article>

    <article>
        <h3>Why we´re great!</h3>

        <section>
            <p>9</p>
            <p>Years of experience</p>
        </section>

    <section>
        <p>20+</p>
        <p>Speakers each year</p>
    </section>

     <section>
        <p>75+</p>
        <p>Workshops hosted</p>
    </section>

    <section>
        <p>2000+</p>
        <p>Attendees</p>
    </section>

    </article>
</MainLayout>

<style>
    h1{
       font-family: var( --font-family-header); 
       font-size: var( --font-size-h1-mobile);
       color: var(--text-color-overskrift);
       text-shadow: var(--text-shadow);
    }
    h3{

    }
    
    h5{

    }

@media only screen and (min-width: 768px) {

}


</style>