---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
    <section>
        <article class="bottom_border">
        <h5 id="blue-text">20-21 MARCH 2024</h5>
        <h5>BIG BIO - NORDHAVN</h5>
        </article>
      	<article>
        <h1 class="desktop_hidden">DE- <br> GROWTH <br> & <br> CONSU- <br> MERISM</h1>
		<h1 class="mobile_hidden">DEGROWTH & <br> CONSUMERISM</h1>
        </article>
    </section>

<section class="box">
    <h5 id="h5-bigger">Learn from the best</h5>
    <p id="text_in_box">In a time where the global warming and climate change is more important than ever, we want to put focus on how the interplay between UX, design and consumerism plays a part in this. 

</p>
</section>
    <article>
        <h3>Welcome our speakers</h3>
		<section class="grid_1-1-1">
			<section>
				<div class="round-image-container">
					<img src="/imgs/speakers/tina.webp" alt="tina" class="round-image">
				</div>
				<h6>Trine Falbe</h6>
			</section>
			<section>
				<div class="round-image-container">
					<img src="/imgs/speakers/jason.webp" alt="jason" class="round-image">
				</div>
				<h6>Layla Husain</h6>
			</section>
			<section>
				<div class="round-image-container">
					<img src="/imgs/speakers/meg.webp" alt="meg" class="round-image">
				</div>
				<h6>Sara Lerén</h6>
			</section>
		</section>
		<a href="/speakers"><button>See all</button></a>
    </article>

    <article>
        <section class="grid_1-1">
            <img src="/imgs/conference/flot_mand.webp" alt="flot_mand" id="img_left">
            <div id="text_right">
			<h4>Connect with peers</h4>
            <p>UX Copenhagen connects people from all over the world for essential conversations. Our speakers are a wonderful mix of professionals, ranging from juniors new to the field to big names in the field. Each year, we have around 200 participants, 75% of whom are international guests. It will be held entirely in English. Attendees are UX professionals, digital leaders, digital strategists, and marketing professionals from all parts of the world and those who work with and around them. </p>
			</div>
		</section>

        <section class="grid_1-1">
			<img src="/imgs/conference/Lone&Helle.webp" alt="Lone og Helle" id="img_right">
			<div id="text_left">
            <h4>A Decade of Innovation & Impact</h4>
            <p>The 2024 event will be the 10th consecutive UX Copenhagen conference. The conference respects principles like having a diverse range of speakers, and presenting as many different points of view as possible on stage. We support charities, new startups, and initiatives that promote UX and doing good. The conference will be a hybrid event, in-person and online. We will be hosting hands-on, live workshops; and live Q&A sessions with each of this year´s speakers. There will be raffles, book sales, and lots of opportunity to network.</p>
			</div>
			
        </section>
    </article>
	<hr>
    <article>
        <h3>Get your ticket</h3>
        <p id="join_us">Join us and experience the chance to learn from a diverse <br> range of industry experts and connect with peers!</p>
    <button>Buy now</button>
    </article>
	<hr>
	<h3 id="great">Why we´re great!</h3>
    <article class="box_shadow">
		<section>
            <p class="box_number">9</p>
            <p class="box_text">Years of experience</p>
        </section>
    	<section>
        	<p class="box_number">20+</p>
        	<p class="box_text">Speakers each year</p>
    	</section>
	</article>
	<article class="box_shadow">
     	<section>
        	<p class="box_number">75+</p>
        	<p class="box_text">Workshops hosted</p>
    	</section>
    	<section>
        	<p class="box_number">2000+</p>
        	<p class="box_text">Attendees</p>
    	</section>
    </article>
</MainLayout>

<style>
	hr{
		margin: 0 15%;
	}
    h1{
    	font-size: var( --font-size-h1-mobile);
       	color: var(--text-color-overskrift);
       	text-shadow: var(--text-shadow);
	   	text-align: center;
		margin-top: var(--space-xxxl);
    }
    h3{
    	font-size: var(--font-size-xl);
		font-weight: var(--font-weight-semibold);
		color: var(--text-color-overskrift);
	   	text-align: center;
		margin: 2rem 0;
    }
	h4{
    	font-size: var(--font-size-m);
		font-weight: var(--font-weight-semibold);
		color: var(--text-color-overskrift);
	}
    h5{
    	font-size: var(--font-size-xs);
		font-weight: var(--font-weight-bold);
	   	text-align: center;
    }
	h6{
    	font-size: var(--font-size-m);
	}
	p{
		font-family: var(--font-family-text); 
    	font-size: var(--font-size-xs);
	}
	.bottom_border{
		border-bottom: solid;
		margin: 0 20%;
	}
	.bottom_border h5:last-child{
		margin-bottom: 10%;
	}
	#blue-text{
		color: var(--text-color-other);
	}
	#h5-bigger{
		font-size: var(--font-size-m);
		padding-bottom: var(--space-md) ;
	}
	.box{
		background-color: var(--trans-color);
		border-radius: var(--border-radius-textbox);
		padding: var(--space-xl);
		margin: var(--space-xxxl) var(--space-md) var(--space-md) var(--space-md);
	}
	hr{
		margin-top: var(--space-xl);
	}
	article{
		display: grid;
		place-items: center;
	}
	.grid_1-1-1{
		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		text-align: center;
	}
	.mobile_hidden{
		display: none;
	}
	button {
		margin: 2rem;
	}
	.box_number{
		font-size: var(--font-size-xl);
  		font-family: var(--font-family-header);
		font-weight: var(--font-weight-semibold);
	}
	.box_text{
		font-size: var(--font-size-s);
  		font-family: var(--font-family-header);
		font-weight: var(--font-weight-semibold);
	}
	.box_shadow{
		display: flex;
		justify-content: center;
  		align-items: center;
		gap: 5%;
		margin-bottom: 5%;
	}
	.box_shadow section{
		background-color: var(--trans-color);
		padding: var(--space-box-mobile);
		box-shadow: var(--box-shadow-down);
		border-radius: 3rem;
  		width: 150px;
  		height: 150px;
  		text-align: center;
	}
	.grid_1-1{
		position: relative;
  		overflow-x: clip;
	}
	#img_left, #img_right {
		border-radius: 1rem;
		position: relative;
	}
	#img_left {
		box-shadow: var(--img-shadow-left-down);
		left: -4rem;
		margin-top: 4rem;
	}
	#img_right {
		box-shadow: var(--img-shadow-up);
		right: -4rem;
	}

	#text_right{
		margin: 30px;
		padding: var( --space-md);
	}
	#text_right p, #text_left p{
line-height: 1.8;
	}
	#text_right h4{
		text-align: center;
		margin-bottom: 20px;
	}

	#text_left{
		margin: 30px;
		padding: var( --space-md);
	}
	#text_left h4{
		text-align: center;
		margin-bottom: 20px;
	}

	#join_us{
		margin: 10px;
		text-align: center;
	}
	#great{
		margin-top: 4rem;
	}
	@media only screen and (min-width: 768px) {
		.grid_1-1-1{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
		.mobile_hidden{
			display: block;
			font-size: var(--font-size-h1);
		}
		.desktop_hidden {
			display: none;
		}
		.box{
			margin: 3rem 10rem;
			padding: 3rem;
			gap: 1rem;
			display: grid;
			place-items: center;
		}
		#text_in_box {
			max-width: 80%;
		}
		.box_number{
			font-size: var(--font-size-box);
		}
		.box_text{
			font-size: var(--font-size-l);
		}
		.box_shadow section{
			border-radius: var(--border-radius-textbox);
			padding: var(--space-box);
			width: 300px;
			height: 300px;
		}
		#img_left, #img_right {
			border-radius: var(--border-radius-image);
		}
		#img_left {
			left: -4rem;
		}
		#img_right {
			right: -4rem;
			order: 1;
		}
		.grid_1-1 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
			margin: 2rem 0;
			overflow-x: clip;
		}
		#text_right {
			margin-right: 2rem;
		}
		#text_left {
			margin-left: 3rem;
		}
		.bottom_border{
		margin: 0 35%;
	}
	}
	@media only screen and (min-width: 1210px) {
		.grid_1-1{
  			overflow-x: visible;
	}
	}
	

</style>