---
//https://qkisybglwngibxovgjqw.supabase.co 
//eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFraXN5Ymdsd25naWJ4b3ZnanF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYzMzM3OTksImV4cCI6MjAxMTkwOTc5OX0.4j0AnUSaBAywEKXEPZOKA3ajRa5VVbC8gbCnAXTdT50

const response = await fetch("https://qkisybglwngibxovgjqw.supabase.co/rest/v1/speakers", {
    method: "GET",
    headers: {
        apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFraXN5Ymdsd25naWJ4b3ZnanF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYzMzM3OTksImV4cCI6MjAxMTkwOTc5OX0.4j0AnUSaBAywEKXEPZOKA3ajRa5VVbC8gbCnAXTdT50"
    },
})
const data = await response.json();
import MainLayout from "../layouts/MainLayout.astro"
import Card from "../components/Card.astro";
---

<MainLayout>
    <h1>Speakers</h1>
    <section>
        {
          data.map((thing) => {
            return <Card data={thing} />;
          })
        }
      </section>
</MainLayout>
