---
const { data } = Astro.props;
---

<article>
    <div class="round-image-container">
        <img src={"imgs/speakers/" + data.img} alt="" class="round-image">
    </div>
    <h4>{data.name}</h4>
    <h7>{data.employment}</h7>

</article>

<style>
   .round-image-container {
  width: 450px; /* Adjust this value to your desired size */
  height: 450px; /* Adjust this value to your desired size */
  border-radius: var(--border-radius-round);
  overflow: hidden; /* Clip the image to the container */
  display: inline-block; /* Keep the containers inline */
  margin: 10px; /* Adjust the margin as needed */
}

.round-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
</style>