---
const { data } = Astro.props;
---

<a href=`single-views/${data.slug}`>
<article>
    <div class="round-image-container">
        <img src={"imgs/speakers/" + data.img} alt="" class="round-image">
    </div>
    <h4>{data.name}</h4>
    <h7>{data.employment}</h7>
</article>
</a>

<style>
a {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerer vandret */
    justify-content: center; /* Centrerer lodret */
    text-align: center; /* Centrerer tekst inden i elementerne */
    margin-bottom: 3rem;
    text-decoration: none;
}
h4{
    font-family: var(--font-family-header);
color: var(  --text-color-white);
font-size: var(  --font-size-l);
font-weight: var( --font-weight-semibold);
padding-bottom: 1.5rem; 
padding-top: 1rem; 
}
h7{
    font-family: var( --font-family-text);
color: var(  --text-color-white);
font-size: var(--font-size-xs);

}

 @media only screen and (min-width: 768px){
h4{
    font-family: var(--font-family-header);
color: var(  --text-color-white);
font-size: var(  --font-size-l);
font-weight: var( --font-weight-semibold);
padding-bottom: 1.5rem;  
}
 }

</style>