<section>
    <article>
        <h6>Become a Sponser</h6>
        <p>Please reach out to:</p>
        <p id="mail">hello@uxcopenhagen.com</p>
        <p>Between April 1 – September 1.</p>
    </article>

    <article>
        <h6></h6>
        <article>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </article>
    </article>

    <article>
        <h6></h6>
        <button></button>
    </article>

</section>
<img src="" alt="">

<style>
    #mail{
        text-decoration: underline;
    }
</style>