---
import "../styles/global.css";
---
<section>
    <article>
        <h6>Become a Sponser</h6>
        <p>Please reach out to:</p>
        <p id="mail">hello@uxcopenhagen.com</p>
        <p>Between April 1 – September 1.</p>
    </article>

    <article>
        <h6>Follow us on Social Media</h6>
        <article class="logo_grid">
            <img src="/public/imgs/icons/facebook.webp" alt="">
            <img src="/public/imgs/icons/instagram.webp" alt="">
            <img src="/public/imgs/icons/youtube.webp" alt="">
            <img src="/public/imgs/icons/linkedin.webp" alt="">
        </article>
    </article>

    <article>
        <h6>Sign up for our newletter</h6>
        <button>Keep in touch</button>
    </article>
</section>
<img src="" alt="">

<style>
    h6{
        font-family: var(--font-family-header);
        font-size: var(--font-size-m);
    }
    p{
        font-family: var(--font-family-text);
        font-size: var(--font-size-xs);
    }
    #mail{
        columns: ;
        text-decoration: underline;
        color: var(--text-color-overskrift);
    }
    button {
        font-family: var(--font-family-text);
        font-size: var(--font-size-s);
        padding: var(--space-md);
        background-color: var(--button-color);
        border-radius: var(--border-radius-button);
        border: none;
        color: var(--text-color-button);
    }
    .logo_grid{
        display: flex;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: flex-start;
        gap: 2%;
        margin-top: 2%;
    }
    article{

    }
    img {
        width: 10%;
    }
    @media only screen and (min-width: 768px) {
    section{
      display: flex;
      grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    }
  }
</style>