 <header>
        <div class="logo">
            <a href="index.html">
                <img src="eksamen_elementer/logo_3.svg" alt="Logo">
            </a>
        </div>
        <nav>
            <ul class="menu">
                <li> <a href="#">Program</a></li>
                <li> <a href="speakers.astro">Speakers</a></li>
                <li> <a href="#">About us</a></li>
                <li> <a href="#">Log in</a></li>
                <li> <a href="#"> <button>Tickets</button></a></li>
            </ul>

            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>

    </header>

    <script>
        const burger = document.querySelector(".burger");
        const nav = document.querySelector("nav");
        const menu = document.querySelector(".menu");
        const links = document.querySelectorAll(".menu li a");
        
        burger.addEventListener("click", () => {
          burger.classList.toggle("active");
          nav.classList.toggle("active");
        });
        
        links.forEach((link) => {
          link.addEventListener("click", () => {
            burger.classList.remove("active");
            nav.classList.remove("active");
          });
        });
        </script>

<style>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  
  text-align: center;
}
.logo {
  margin-right: auto;
}
.logo img {
  width: 50px;
  height: 50px;
}
@media (min-width: 750px) {
  .logo img {
    width: 70px;
    height: 70px;
  }
}
nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  /*color: var(--text-color-white);*/
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
   color: var(--hover-color);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--trans-color);
  margin-bottom: 5px;
}
.burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    justify-content: flex-start;
  }
  header {
    display: flex;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: block;
   background-color: #06053C;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
</style>